@font-face {
  font-family: "Futura";
  src: local("Futura DemiC"), url("../fonts/futurademic-webfont.woff2") format("woff2"), url("../fonts/futurademic-webfont.woff") format("woff"), url("../fonts/futurademic-webfont.eot") format("eot"), url("../fonts/futurademic-webfont.ttf") format("ttf");
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Futura";
  src: local("Futura Bookc"), url("../fonts/futurabookc-webfont.woff2") format("woff2"), url("../fonts/futurabookc-webfont.woff") format("woff"), url("../fonts/futurabookc-webfont.eot") format("eot"), url("../fonts/futurabookc-webfont.ttf") format("ttf");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Futura", sans-serif;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 155px;
}

.header {
  padding: 30px 0;
  min-height: 810px;
  background-color: black;
  background-image: url("../images/header/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}
.header__container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding-left: 173px;
}
.header__telephone {
  position: absolute;
  top: 173px;
  right: 267px;
}

.header-swipe {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 32px;
  width: 277px;
  height: 51px;
  background-color: rgb(41, 211, 209);
  border-radius: 15px;
  bottom: -56px;
  left: 50%;
  transform: translateX(-50%);
}
.header-swipe__arrow {
  width: 10px;
  height: 10px;
  transform: rotate(-45deg);
  border-bottom: 2px solid white;
  border-left: 2px solid white;
}
.header-swipe__text {
  display: block;
  font-size: 21px;
  font-weight: 600;
  line-height: 17.07px;
  text-align: left;
  color: white;
}

.header-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header-top__left-block {
  display: flex;
  gap: 26px;
  margin-left: -5px;
}
.header-top__link {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
  position: relative;
  display: block;
  cursor: pointer;
  width: 37px;
  height: 37px;
  transform: rotate(45deg);
  transition: background-color 0.2s ease-in-out;
}
.header-top__img {
  position: absolute;
  top: -25%;
  left: -25%;
  width: 150%;
  transform: rotate(-45deg);
}
.header-top__link:focus-visible {
  border: none;
  outline: 1px solid rgb(152, 3, 152);
}
.header-top__link:hover:not(:focus-visible) {
  background-color: rgb(152, 3, 152);
  border-color: rgb(152, 3, 152);
}
.header-top__link:active:not(:focus-visible) {
  transform: rotate(45deg) scale(0.9);
}
.header-top__button {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
  cursor: pointer;
  margin-top: -4px;
  min-width: 216px;
  min-height: 46px;
  background-color: inherit;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  color: rgb(255, 255, 255);
  transition: background-color 0.2s ease-in-out;
}
.header-top__button:focus-visible {
  border: none;
  outline: 1px solid rgb(152, 3, 152);
}
.header-top__button:hover:not(:focus-visible) {
  background-color: rgb(152, 3, 152);
  border-color: rgb(152, 3, 152);
}
.header-top__button:active:not(:focus-visible) {
  transform: scale(0.95);
}

.header__bottom {
  padding: 261px 0 0 103px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-bottom-top {
  position: relative;
  margin-bottom: 15px;
}
.header-bottom-top__popup {
  position: absolute;
  top: -70px;
  left: 263px;
  opacity: 0;
  transition: opacity 0.22s ease-in-out;
}
.header-bottom-top__picture:hover + .header-bottom-top__popup {
  opacity: 1;
}

.header-bootom__shopguide {
  width: 495px;
  height: 93px;
}

.header-bottom-center {
  display: flex;
  align-items: center;
  align-content: center;
  margin-left: -5px;
  gap: 10px;
  margin-bottom: 17px;
}
.header-bottom-center__span-line {
  display: block;
  width: 184px;
  height: 1px;
  background-color: white;
}
.header-bottom-center__span-text {
  cursor: pointer;
  font-size: 21px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: left;
  margin-bottom: 2px;
  color: white;
}

.header-bottom-bottom {
  display: flex;
  gap: 20px;
  margin-left: -3px;
}
.header-bottom-bottom__link {
  width: 224.5px;
  height: 64px;
}
.header-bottom-bottom__link:focus-visible {
  border: none;
  outline: 4px solid rgb(152, 3, 152);
  border-radius: 7px;
  outline-offset: -3px;
}
.header-bottom-bottom__link:hover:not(:focus-visible) {
  background-color: rgb(152, 3, 152);
}
.header-bottom-bottom__link:active:not(:focus-visible) {
  scale: 0.95;
}

.about {
  width: 100%;
  padding: 120px 0 176px;
}
.about__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.about__item {
  max-width: calc((100% - 90px) / 4);
}
.about__artical {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__img_1 {
  width: 79px;
  height: 70px;
  margin-bottom: 40px;
}
.about__img_2 {
  width: 50px;
  height: 75px;
  margin-bottom: 40px;
}
.about__img_3 {
  width: 66px;
  height: 66px;
  margin-bottom: 49px;
}
.about__img_4 {
  width: 54px;
  height: 70px;
  margin-bottom: 40px;
}
.about__h2 {
  margin: 0;
  margin-bottom: 16px;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 600;
  color: rgb(0, 0, 0);
}
.about__paragraf {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: rgb(0, 0, 0);
}

.different {
  min-height: 430px;
  background-color: rgb(41, 211, 209);
}
.different__container {
  padding: 60px 10px;
}
.different__content {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
}
.different__block-h2 {
  display: flex;
  gap: 45px;
  margin-bottom: 48px;
}
.different__p {
  margin: 0;
  width: 70%;
  font-size: 24px;
  font-weight: 400;
  color: white;
}
.different__p:not(:nth-child(2n)) {
  margin-bottom: 25px;
}

.mobile {
  position: absolute;
  top: -137px;
  left: 261px;
}
.mobile__content {
  position: relative;
  width: 277px;
  height: 565px;
}
.mobile__mobile {
  position: absolute;
  z-index: 1;
}
.mobile__mobile-display {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.mobile__swadow {
  position: absolute;
  bottom: -15px;
  left: -25px;
}

.different__h2 {
  position: relative;
  text-transform: uppercase;
  margin: 0;
  font-size: 32px;
  font-weight: 700;
  line-height: 39.01px;
  letter-spacing: 4px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms ease-in-out;
}
.different__h2_1 {
  margin-right: 365px;
}

.different__h2:after {
  content: "";
  height: 3px;
  width: 0;
  background-color: white;
  position: absolute;
  left: 0;
  bottom: -10px;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  visibility: hidden;
}

.different__h2:hover:after {
  width: 100%;
  visibility: visible;
  transform: scaleX(1);
}

.different__h2:hover {
  color: rgb(255, 255, 255);
}

.empty {
  min-height: 315px;
}

.action {
  position: relative;
  padding: 68px 0;
  background-color: rgb(237, 236, 236);
  min-height: 406px;
}
.action__container {
  position: relative;
  padding-left: 266px;
}
.action__img {
  position: absolute;
}
.action__img_1 {
  top: -343px;
  right: 390px;
  z-index: 1;
}
.action__img_2 {
  top: -234px;
  right: 215px;
}
.action__h2 {
  margin-bottom: 30px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 32px;
  font-weight: 700;
  line-height: 39.01px;
  color: rgb(0, 0, 0);
}
.action__p {
  width: 56%;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  color: rgb(0, 0, 0);
}

.partners {
  padding: 68px 0 60px;
}
.partners__h2 {
  margin-bottom: 27px;
  font-size: 32px;
  font-weight: 700;
  line-height: 39.01px;
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: rgb(235, 100, 90);
}
.partners__partners-logos {
  background-color: rgb(235, 100, 90);
  min-height: 189px;
}
.partners__container-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 60px;
}
.partners__paragraf {
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: rgb(0, 0, 0);
}
.partners__paragraf_2 {
  margin-bottom: 30px;
}
.partners__button {
  cursor: pointer;
  min-width: 336px;
  min-height: 60px;
  letter-spacing: 2px;
  margin-left: -2px;
  border-radius: 10px;
  border: none;
  background-color: rgb(41, 211, 209);
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  transition: scale 0.25s ease-in-out;
}
.partners__button:focus-visible {
  border: none;
  outline: 4px solid rgb(25, 210, 148);
  background-color: transparent;
  color: black;
}
.partners__button:hover:not(:focus-visible) {
  scale: 1.1;
  background-color: rgb(15, 187, 129);
}
.partners__button:active:not(:focus-visible) {
  scale: 1;
}

.partners-logos {
  display: flex;
}
.partners-logos__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.partners-logos__block {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 48px;
}
.partners-logos__arrow {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: rgb(237, 107, 98);
}
.partners-logos__arrow-img {
  height: 20px;
  opacity: 0.5;
}
.partners-logos__arrow-img_1 {
  margin-left: -3px;
}
.partners-logos__arrow-img_2 {
  margin-right: -3px;
}
.partners-logos__arrow:hover:not(:focus-visible) .partners-logos__arrow-img {
  opacity: 1;
}
.partners-logos__img {
  cursor: pointer;
  flex-shrink: 0;
  opacity: 0.5;
}
.partners-logos__img:hover:not(:focus-visible) {
  opacity: 1;
}

.footer {
  padding: 47px 0 38px;
  min-height: 133px;
  background-image: url(../images/footer/bg.jpg);
}
.footer__container {
  display: flex;
  justify-content: space-between;
}
.footer__span {
  display: block;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  letter-spacing: 1px;
  text-align: left;
  color: rgb(246, 246, 246);
  margin-bottom: 11px;
}
.footer__link {
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 15.85px;
  letter-spacing: -0.05em;
  text-align: left;
  color: rgba(181, 181, 181, 0.5);
}
.footer__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(181, 181, 181, 0.5);
}
.footer__link:not(:last-child) {
  margin-right: 10px;
}
.footer__link:focus-visible {
  border: none;
  outline: 2px solid rgb(152, 3, 152);
}
.footer__link:hover:not(:focus-visible) {
  color: rgb(152, 3, 152);
}
.footer__button {
  width: 234px;
  height: 40px;
  border: 2px solid white;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  letter-spacing: 1px;
  color: white;
  text-transform: uppercase;
  background-image: url("../images/footer/contact.svg");
  background-repeat: no-repeat;
  background-position: center left 18px;
  padding-left: 33px;
  padding-top: 4px;
}
.footer__button:focus-visible {
  border: none;
  outline: 4px solid rgb(152, 3, 152);
}
.footer__button:hover:not(:focus-visible) {
  border-color: rgb(152, 3, 152);
  background-color: rgb(152, 3, 152);
}
.footer__button:active:not(:focus-visible) {
  scale: 0.93;
}/*# sourceMappingURL=style.css.map */